:root {
  --primary-bg: rgba(255, 140, 0, 0.3); 
  --primary-text: #FFFFFF; 
  --hover-color: #FFD700; 
  --hover-bg: #ebb7a4;  
  --mobile-bg: rgba(255, 140, 0, 0.7); 
  --navbar-shadow: rgba(0, 0, 0, 0.1);
}
/* Navbar container */

.navbar {
background-color: #2c3e50; 
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 20;
}




.navbar-logo {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  animation: fadeSlideIn 1.5s ease forwards;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(2.05);
}

/* Keyframe for entry animation */
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links a {
  color: #FFFFFF; 
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--hover-bg); /* Hover color */
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 2rem;
  color:  var(--primary-text);
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    flex-direction: column;
    text-align: center;
    background-color: #F6E2B3; /* soft light background (not transparent) */
    z-index: 15;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.mobile-menu.open {
    display: flex;
  }

  .navbar-links a {
    color: #FF7F50; /* keep it readable */
    font-size: 1.4rem;
    padding: 10px 0;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .navbar-links a:hover {
    color: rgba(255, 140, 0, 0.7);
  }

  .hamburger {
    display: block;
  }

  .overlay {
    display: none;
  }

  .overlay.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
    z-index: 10;
  }
}
